coin-storage-system-api/src/main/resources/api/CoinStorageService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://training.mulesoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoinStorageService" targetNamespace="http://training.mulesoft.com/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://training.mulesoft.com/">
    
      <xsd:element name="createCoin">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="date" type="xsd:string" maxOccurs="1" minOccurs="1" ></xsd:element>
          	<xsd:element name="data" type="tns:dataCreate" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="createCoinResponseHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="readCoinHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="deleteCoinHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="updateCoinHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="readCoinResponse">
      	<xsd:complexType>
      		<xsd:sequence>
				<xsd:element name="response" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="oldDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="newDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="dateDifference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="date" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="data" type="tns:dataRead" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="updateCoin">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="oldDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="newDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="dateDifference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="date" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="data" type="tns:dataUpdate" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="updateCoinResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="response" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      
      <xsd:element name="deleteCoinResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="response" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="dataUpdate">
      	<xsd:sequence>
      		<xsd:element name="coin" type="tns:coinUpdate" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="coinUpdate">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="symbol" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="supply" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="developmentStatus" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="proofType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="orgStructure" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="coin_market_price" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_price" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_oldPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_oldPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_newPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_newPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_priceDifference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_priceDifference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_volume24h" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="coin_cap_volume24h" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="dataRead">
      	<xsd:sequence>
      		<xsd:element name="coin" type="tns:coinRead" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="coinRead">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="symbol" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="supply" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="developmentStatus" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="proofType" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="orgStructure" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_oldPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_oldPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_newPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_newPriceUsd" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_priceDifference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_priceDifference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_price" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_cap_price" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="coin_market_volume24h" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="coin_cap_volume24h" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="dataCreate">
      	<xsd:sequence>
      		<xsd:element name="coin" type="tns:coinCreate" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="coinCreate">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="symbol" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="supply" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="coin_market_price" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="coin_cap_price" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="coin_market_volume24h" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="coin_cap_volume24h" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:element name="fault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="statusCode" type="xsd:string"></xsd:element>
      			<xsd:element name="errorType" type="xsd:string"></xsd:element>
      			<xsd:element name="date" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="deleteCoin" type="xsd:string"></xsd:element>
        
      <xsd:element name="readCoin" type="xsd:string"></xsd:element>
        
      <xsd:element name="null">  
	      <xsd:complexType>
	      	<xsd:sequence>
	      		<xsd:element name="null" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
	      	</xsd:sequence>
	      </xsd:complexType>  
      </xsd:element>  
        </xsd:schema>
  </wsdl:types>
  
  
  <wsdl:message name="createCoinRequest">
    <wsdl:part element="tns:createCoin" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="createCoinResponseHeader">
    <wsdl:part name="header" element="tns:createCoinResponseHeader"/>
  </wsdl:message>
  
  <wsdl:message name="readCoinRequest">
  		<wsdl:part name="parameters" element="tns:readCoin"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="readCoinRequestHeader">
        <wsdl:part name="header" element="tns:readCoinHeader"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="readCoinResponse">
  	<wsdl:part name="parameters" element="tns:readCoinResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="updateCoinRequest">
  	<wsdl:part name="parameters" element="tns:updateCoin"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="updateCoinRequestHeader">
  	<wsdl:part name="header" element="tns:updateCoinHeader"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="updateCoinResponse">
  	<wsdl:part name="parameters" element="tns:updateCoinResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="deleteCoinRequest">
  		<wsdl:part name="parameters" element="tns:deleteCoin"></wsdl:part>
  </wsdl:message>
  
    <wsdl:message name="deleteCoinRequestHeader">
        <wsdl:part name="header" element="tns:deleteCoinHeader"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="deleteCoinResponse">
  	<wsdl:part name="parameters" element="tns:deleteCoinResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="null">
  	<wsdl:part name="null" element="tns:null"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="fault">
  	<wsdl:part name="fault" element="tns:fault"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="CoinStorageService">
    <wsdl:operation name="createCoin">
      <wsdl:input message="tns:createCoinRequest" name="createCoinRequest"></wsdl:input>
      <wsdl:output message="tns:null" name="createCoinResponse"></wsdl:output>
      <wsdl:fault message="tns:fault" name="coinStorageServiceFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readCoin">
    	<wsdl:input message="tns:readCoinRequest" name="readCoinRequest"></wsdl:input>
    	<wsdl:output message="tns:readCoinResponse" name="readCoinResponse"></wsdl:output>
    	<wsdl:fault message="tns:fault" name="coinStorageServiceFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCoin">
    	<wsdl:input message="tns:updateCoinRequest" name="updateCoinRequest"></wsdl:input>
    	<wsdl:output message="tns:updateCoinResponse" name="updateCoinResponse"></wsdl:output>
    	<wsdl:fault message="tns:fault" name="coinStorageServiceFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCoin">
    	<wsdl:input message="tns:deleteCoinRequest" name="deleteCoinRequest"></wsdl:input>
    	<wsdl:output message="tns:deleteCoinResponse" name="deleteCoinResponse"></wsdl:output>
    	<wsdl:fault message="tns:fault" name="coinStorageServiceFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="CoinStorageServiceSOAP"
  	type="tns:CoinStorageService">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="createCoin">
  		<soap:operation
  			soapAction="" style="document"/>
  		<wsdl:input name="createCoinRequest">
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output name="createCoinResponse">
  			<soap:header use="literal" message="tns:createCoinResponseHeader" part="header"></soap:header>
  		</wsdl:output>
  		<wsdl:fault name="coinStorageServiceFault">
            <soap:fault use="literal"/>
        </wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="readCoin">
  		<soap:operation
  			soapAction="" style="document"/>
  		<wsdl:input name="readCoinRequest">
  			<soap:body use="literal" />
   			<soap:header use="literal" part="header" message="tns:readCoinRequestHeader"></soap:header>
  		</wsdl:input>
  		<wsdl:output name="readCoinResponse">
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="coinStorageServiceFault">
            <soap:fault use="literal"/>
        </wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="updateCoin">
  		<soap:operation
  			soapAction="" style="document"/>
  		<wsdl:input name="updateCoinRequest">
  		   	<soap:header use="literal" part="header" message="tns:updateCoinRequestHeader"></soap:header>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output name="updateCoinResponse">
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="coinStorageServiceFault">
            <soap:fault use="literal"/>
        </wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="deleteCoin">
  		<soap:operation
  			soapAction="" style="document"/>
  		<wsdl:input name="deleteCoinRequest">
  			<soap:body use="literal" />
   			<soap:header use="literal" part="header" message="tns:deleteCoinRequestHeader"></soap:header>
  		</wsdl:input>
  		<wsdl:output name="deleteCoinResponse">
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="coinStorageServiceFault">
            <soap:fault use="literal"/>
        </wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoinStorageService">
    <wsdl:port binding="tns:CoinStorageServiceSOAP" name="CoinStorageServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
